<div class="row">
  <div *ngFor="let car of cars" class="col-md-3 col-12 mx-auto">
    <mat-card class="example-card" style="height: 100%">
      <mat-card-content>
        <div class="row">
          <!-- Primera columna: marca, modelo, año y tipo -->
          <div class="col-6">
            <mat-card-title>{{ car.marca }}</mat-card-title>
            <mat-card-subtitle>{{ car.modelo }}</mat-card-subtitle>
            <p>{{ car.anio }}</p>
            <p>{{ car.tipo }}</p>
          </div>

          <!-- Segunda columna: imagen -->
          <div class="col-6">
            <img mat-card-md-image src="{{ car.imagen }} " style="border-radius: 25%" />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
