.half-screen {
    width: 50%;
  }
.example-card {
    margin-top: 50px;
    margin-bottom: 20px;
}
.col-11 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 20px;
}
.app-search {
  max-width: 100%;
  
}
