.half-screen {
    width: 50%;
  }
.example-card {
   margin-left: 15px;
   margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.col-11 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 20px;
}
.app-search {
  max-width: 100%;
}
.input{
  width: 250px;
  height: 30px;
  border-radius: 30px;
}
.search-container {
  position: relative;
  border-radius: 30px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}

input[type="text"] {
  padding-right: 30px; /* Asegura que el texto no se superponga con el icono */
  padding-left: 20px;
  border-radius: 30px;
  height: 30px;
  width: 250px;
}
.button{
  border:none;
  background-color: transparent;
}
.trash-icon {
  color: rgb(255, 0, 0);
  font-size: 18px; /* ajusta el tamaño a tu gusto */
}
.image{
  border-radius: 55%;

}
.image :hover{
  width: 60px;
}
.example-card .image {
  width: 100%;
  transition: width 0.3s ease;
}

.example-card.imagen-grande .image {
  width: 200%;
}

.card{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: transparent;
  border:none;
  margin-left: 15px;
  font-weight: bold;
  color: rgb(12, 4, 4); 
}

.cardTipo{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: transparent;
  border:none;
  margin-left: 10px;
  font-weight: bold;
  color: rgb(12, 4, 4); 
}
.icon-lg {
  font-size: 36px; /* Ajusta el tamaño de la fuente para hacer los iconos más grandes */
}