.bg-image {
    background-image: url('https://e0.pxfuel.com/wallpapers/220/97/desktop-wallpaper-hot-wheels-widescreen-cool-hot-wheels-logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }