<div class="container">
  <mat-card>
    <mat-card-content>
      <img
        src="../../../assets/logo.png"
        width="130"
        height="90"
        alt=""
        style="margin-left: 40px"
      />
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="registerCar">
        <mat-form-field appearance="fill">
          <mat-label>Marca:</mat-label>
          <input matInput formControlName="marca" />
          <mat-error *ngIf="registerCar.get('marca')?.invalid">
            La marca es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Modelo:</mat-label>
          <input matInput formControlName="modelo" />
          <mat-error *ngIf="registerCar.get('modelo')?.invalid">
            El módelo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Año:</mat-label>
          <input matInput formControlName="anio" />
          <mat-error *ngIf="registerCar.get('anio')?.invalid">
            Obligatorio y max. 4 dígitos.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Vehìculo</mat-label>
          <mat-select disableRipple formControlName="tipo">
            <mat-option value="4x4">4x4</mat-option>
            <mat-option value="Berlina">Berlina</mat-option>
            <mat-option value="Electrico">Eléctrico</mat-option>
            <mat-option value="Deportivo">Deportivo</mat-option>
            <mat-option value="MuscleCar">Muscle Car</mat-option>
            <mat-option value="Emergencias">Emergencias</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Imagen:</mat-label>
          <input matInput formControlName="imagen" />
          <mat-error *ngIf="registerCar.get('imagen')?.invalid">
            La imagen es requerida.
          </mat-error>
        </mat-form-field>
        <mat-card-content>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!registerCar.valid"
          >
            Enviar
          </button>
        </mat-card-content>
      </form>
    </mat-card-content>
  </mat-card>
</div>
