<div class="container">
  <mat-card>
      
    <mat-card-content>
      <img src="../../../assets/logo.png" width="130" height="90" alt="" style="margin-left: 40px;" /> 
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="registerCar">
        <mat-form-field appearance="fill">
          <mat-label>Marca:</mat-label>
          <input matInput formControlName="marca" />
          <mat-error *ngIf="registerCar.get('marca')?.invalid">
            La marca es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Modelo:</mat-label>
          <input matInput formControlName="modelo" />
          <mat-error *ngIf="registerCar.get('modelo')?.invalid">
            El módelo es requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Imagen:</mat-label>
          <input matInput formControlName="imagen" />
          <mat-error *ngIf="registerCar.get('imagen')?.invalid">
            La imagen es requerida.
          </mat-error>
        </mat-form-field>
        <mat-card-content>          
          <button mat-raised-button color="primary" [disabled]="!registerCar.valid">Enviar</button>        
        </mat-card-content>
      </form>
    </mat-card-content>
  </mat-card>
</div>
