<!-- <mat-card>
    <form [formGroup]="formCar"
    (submit)="saveCar()"
    >
      <mat-form-field>
        <mat-label>Marca</mat-label>
        <input matInput formControlName="marca">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput formControlName="color">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Otro campo</mat-label>
        <input matInput formControlName="otro">
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary">Enviar</button>
      </mat-card-actions>
    </form>
  </mat-card>
   -->